:root {
    --blue: #2C70FF;
    --lightBlue: #6a98fd;
    --green:#9ffd9f;
    --lightGreen: #ebffeb;
    --cerulean: #6694f8;
    --lightCerulean: #d1e8f9;
    --orange:#ffb3a3;
    --lightOrange: #f9e8d0;
    --purple:#ffafff;
    --lightPurple: #fee5fe;
    --gray: #676767;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: "Sarabun", sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 25px;
    font-weight: 450;
}

h3{
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 400;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

a:hover {
    background-size: 100% 1px;
}

img {
    max-width: 100%;
    display: block;
}

p {
    margin: 10px 0;
    font-weight: 300;
}

hr {
    border: 0;
    border-bottom: solid 1px #eeeeee;
    margin: 10px 0;
}

b {
    font-weight: 400;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    align-items: center;
    padding: 0 15px;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

nav .left {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

nav .left img {
    width: 30px;
    margin-right: 5px;
}

nav .left .title {
    font-weight: 400;
    color: black;
}

nav .right {
    display: flex;
    gap: 1em;
}

nav>a {
    display: block;
    background-image: none;
}

nav>a:hover {
    color: var(--lightBlue);
}

.spacer {
    flex-grow: 1;
}

.highlight {
    font-weight: 500;
    margin: 30px 0;
    color: var(--blue);
}

main {
    max-width: 70rem;
    margin: 0 auto;
    padding: 3rem 5rem;
    min-height: 100vh;
}

main>h1 {
    margin: 2rem 0 0.5rem;
}

main>img {
    border-radius: 5px;
}

.banner {
    margin: 0 auto;
    gap: 5em;
}

.banner .affilitation {
    font-weight: 200;
}

.banner img {
    margin: 10px 0;
    max-width: 200px;
}

.banner .description {
    margin: 20px 0;
}

.banner .light {
    color: #787878;
}

.section {
    margin: 15px 0 50px;
}

.publication {
    border-top: 0.5px solid #cccccc;
    padding: 30px 0;
}

.publication .thumbnail {
    flex-shrink: 0;
}

.publication:last-of-type {
    border-bottom: 0.5px solid #cccccc;
}

.publication img {
    object-fit: cover;
    border-radius: 5px;
    border: 0.5px solid #646464;
}

.publication .info {
    display: flex;
    flex-direction: column;
}

.publication .info .heading {
    display: flex;
}

.publication .title {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.1em;
    margin-bottom: 7px;
}

.publication .authors {
    margin-bottom: 5px;
    color: var(--gray);
}

.publication .description {
    margin: 10px 0;
    font-weight: 300;
}

.publication .venue {
    font-size: small;
    margin-bottom: 10px;
}

.publication .areas {
    display: flex;
    gap: 0.5em;
}

.publication .links {
    display: flex;
    gap: 1em;
    font-size: smaller;
}

.publication .links a {
    background-position: 0 calc(100% - 0.7em);
}

.award {
    background: gold;
    border-radius: 3px;
    margin: 0 10px;
    padding: 0px 5px 3px;
}
.people {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.person {
    display: inline-block;
}

.person img {
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 7px;
    aspect-ratio: 1 / 1;
}

.person .name {
    font-weight: 500;
}

.person .role {
    font-size: small;
}

.area {
    color: black;
    padding: 0px 4px 2px;
    border-radius: 9px;
}

.area.machine-learning {
    border: 1px solid var(--green);
    background-color: var(--lightGreen);
}

.area.visual-arts {
    border: 1px solid var(--purple);
    background-color: var(--lightPurple);
}

.area.electronics {
    border: 1px solid var(--orange);
    background: var(--lightOrange);
}

.area.documentation {
    border: 1px solid var(--cerulean);
    background: var(--lightCerulean);
}

.area.badge {
    font-size: small;
}

.icon {
    display: inline-block;
}
.icon svg {
    width: 10px;
    height: 10px;
}

.callout {
    display: inline-block;
    border-radius: 5px;
    background: var(--lightGreen);
    padding: 15px 10px;
    font-weight: 500;
    margin-top: 30px;
}

.callout a {
    font-weight: bold;
}

.alum p {
    margin: 5px 0;
}

.join h3 {
    margin-bottom: 15px;
}

.join h4 {
    border-bottom: 1px solid darkgrey;
    display: inline;
}

footer {
    text-align: center;
    font-size: small;
    margin: 30px 0;
    color: darkgrey;
}

@media (max-width: 750px) {
    main {
        padding: 1rem 2rem;
    }
    .banner hr {
        margin: 20px 0;
    }
    .banner img {
        max-width: 125px;
    }
    .people {
        justify-content: space-evenly;
        gap: 1em;
    }
    .person img {
        width: 150px;
    }
    .join {
        margin: 20px 0;
    }
    .publication .info .heading {
        margin-top: 10px;
    }
}

@media (min-width: 750px) {
    .banner {
        display: flex;
    }
    .publication {
        display: flex;
        gap: 1em;
    }
    .publication img {
        width: 250px;
        height: 150px;
    }
    .publication .info {
        max-width: 75%;
    }
    .person img {
        width: 150px;
        height: 150px;
    }
}