<div class="banner section" id="about">
    <div>
        <img src="assets/images/logo.svg"/>
    </div>
    <div>    
        <h1>Design Tools Lab</h1>
        Computer Science, Barnard College
        <hr width="250px">
        <div class="description">
            <p class="highlight">
                The Design Tools Lab (DTL) is a research group dedicated to supporting people realizing their creative potential. 
            </p>
            <p>
                We develop design software, toolkits, and learning experiences that enable people to build and share design projects representing their ideas, identities, and values. We are especially interested in creative computing design tools that cut across disciplinary boundaries, with prior work in the domains of <span class="machine-learning area">machine learning</span>, <span class="visual-arts area">visual arts</span>, <span class="electronics area">electronics</span>, and <span class="documentation area">documentation</span>.
            </p>

            <div class="callout">
                👉 Interested in joining?  Find out more <a href="#join">here</a>!
            </div>
        </div>
    </div>
</div>