<div class="join" id="join">
    <h2>Getting involved in DTL</h2>
    <p>There are no current openings in the Design Tools Lab, but if you are a current Barnard or Columbia student interested in getting involved in research in DTL, please fill out <a href="https://forms.gle/v9UYA2Th7FqhRQZb9" target="_blank">this Google form</a> to express interest. These responses are reviewed throughout the semester in the case new opportunities arise.</p>

    <p>For prospective graduate students, apply to Columbia CS and mention PI Tiffany Tseng in your application.</p>

</div>