<div class="join" id="join">
    <h2>Getting involved in DTL</h2>
    <p class="callout">
        We are looking for ~2 student research assistants to join DTL during the 2026-2027 academic year on the project described <a href="https://docs.google.com/document/d/1RkEQ7ZGeu2vEy0dORcqGfL9hgUOR1unqR1dKPeUVcRs/edit?tab=t.0">here</a>
    </p>
    <p>If you are a current Barnard or Columbia student interested in getting involved in research in DTL, please fill out <a href="https://forms.gle/v9UYA2Th7FqhRQZb9" target="_blank">this Google form</a>.</p>

    <p>For prospective graduate students, apply to Columbia CS and mention PI Tiffany Tseng in your application.</p>

</div>